.header_outer_container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(148,132,132);
    background-color: rgb(20,20,20);
    background-color: transparent;
    height: 10vh;
    color: white;
     transition:all 0.5s ;
    transition-timing-function: ease-in; 
    z-index: 1; 
    /* background: #000; */
}
.header_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_left ul{
    width: 120%;
    display: flex;
        justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.header_right ul{
    width: 120%;
    display: flex;
        justify-content: space-between;
    align-items: center;
    list-style-type: none;
}


 @media screen and (max-width:800px){
   
    .header_left li{
display: none;
    }
    .header_left li:first-child{
        display: block;
    } 
    .header_right ul{
       width: 120%; 
    }
}  